<div class="nav-links" data-home-target="navLinks">
  <%= link_to "Real world results", "#" %>
  <%= link_to "Features", "#" %>
  <%= link_to "Pricing", "#" %>
  <%= link_to "Sign in", "#" %>
  <%= link_to "Sign up free", "#", class: "sign-up-btn" %>
</div> 